#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
    scrollbar-color: #1d3557 #00091d;
    scrollbar-width: thin;
}
.main {
    max-width: 1050px;
    margin: 0 auto;
}
.nav {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* transform: perspective(600px) rotateX(-20deg); */
    margin: 0 auto;
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
    border-color: unset;
}
.burger {
    animation: enhance-header-responsive linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
    border-color: unset;
}
@keyframes enhance-header {
    to {
        background: #7886a074;
        border: none;
        backdrop-filter: blur(10px);
        transform: translateY(10px);
        border-radius: 20px;
    }
}
@keyframes enhance-header-responsive {
    to {
        background: #7886a074;
        border: none;
        backdrop-filter: blur(10px);
        transform: translateY(10px);
        padding: 5px;
        border-radius: 5px;
    }
}
